nav ul li{

    padding : 0 20px 0 3px;
    
    }
    /* for dropdowns only */
    .dropdown-menu {
        background-color:#000000;
      font-family:'Times New Roman', Times, serif;
    }
    
/* dropdown item text color */
.dropdown-item {
    color:#eeeeee;
  font-family:'Times New Roman', Times, serif;
}

/* dropdown item hover or focus */
.dropdown-item:hover,
.dropdown-item:focus {
    color: #eeeeee;
    background-color:blue;
  font-family:'Times New Roman', Times, serif;
}

/* change the link color */
 .nav-link {
    color:#eeeeee;
  font-family:'Times New Roman', Times, serif;}

.cart
{
  margin-top: .625em;
  width: 40px;
  height: 40px;
  opacity: .6;
  border-radius: 25px;
  
  
}

.cart:hover{
  opacity: 1.0;

}


