<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
  <!--<a class="navbar-brand" href="#">
    <img src="https://tse2.mm.bing.net/th?id=OIP.HGou02SNgyoh0bK7iC62MgHaH_&pid=Api&P=0" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <img src="https://tse3.mm.bing.net/th?id=OIP.gdoKxtqi74QpYn-nG2NDYgHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="homepage">HOME</a>
        </li>

        
       
        <img src="https://tse3.mm.bing.net/th?id=OIP.uzZ8cIahK3lfg8j1XrOZ4AHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DOG
          </a>
          <ul class="dropdown-menu">
            <img src="https://tse4.mm.bing.net/th?id=OIP.iSV42wXbpi3BX0pFL3N8vwHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="doggrooming">DOG GROOMING</a></li>
            <img src="https://tse1.mm.bing.net/th?id=OIP.mJaVyFekQFDrKt_IVFAsVQHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="dogfoods">DOG FOODS</a></li>
            <img src="https://tse3.mm.bing.net/th?id=OIP.M5M78YWcxqD_jSOoR5mhmAHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="dogtoy">DOG TOYS</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"> BREEDS</a></li> -->
          </ul>
        </li>

        <img src="https://tse3.mm.bing.net/th?id=OIP.TKy3DeNRPcc0phGTfgG5HgHaH0&pid=Api&P=0" alt="Cart Logo" class="cart">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CAT
          </a>
          <ul class="dropdown-menu">
            <img src="https://tse1.mm.bing.net/th?id=OIP.VsXZrHAuX-E5ZGhND8XGCAHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="catgrooming">CAT GROOMING</a></li>
            <img src="https://tse2.mm.bing.net/th?id=OIP.rYWqALHmsRtXYkSN9Gg2bgHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="catfood">CAT FOODS</a></li>
            <img src="https://tse1.mm.bing.net/th?id=OIP.eS8Qp7AHsp8EAQBj9uKyGwHaIi&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="cattoy">CAT TOYS</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">BREEDS</a></li> -->
          </ul>
        </li>
        <img src="https://tse1.mm.bing.net/th?id=OIP.TI9cGQglYtN4aqSJVmKr2gHaHx&pid=Api&P=0" alt="Cart Logo" class="cart">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BIRD
          </a>
          <ul class="dropdown-menu">
            <img src="https://tse2.mm.bing.net/th?id=OIP.ZrJFortVz2LfC2iGOLvMDAAAAA&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="birdgrooming">BIRD GROOMING</a></li>
            <img src="https://tse4.mm.bing.net/th?id=OIP.5bLfMDg3EXyhwvZsp9_nHgHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="birdfood">BIRD FOODS</a></li>
            <img src="https://tse4.mm.bing.net/th?id=OIP.Kl_1dD4kzU0x8GRB38d-4AHaF1&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="birdcage">BIRD CAGE</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">BREEDS</a></li> -->
          </ul>
        </li>
        <img src="https://tse4.mm.bing.net/th?id=OIP.4Ouze1gua1PsYZfjcXt5bwHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FISH
          </a>
          <ul class="dropdown-menu">
            <img src="https://tse4.mm.bing.net/th?id=OIP.Jv9QYL5m3BOt_Z7uQVUPHgHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="aquarium">AQUARIUM</a></li>
            <img src="https://tse3.mm.bing.net/th?id=OIP.6v21ZVMG_EzNrdgCJ2XTbAHaH3&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="plant">PLANTS</a></li>
            <img src="https://tse1.mm.bing.net/th?id=OIP.HoAecaUcc1tb4NkrgAkmuAHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
            <li><a class="dropdown-item" href="fishfood">FISH FOOD</a></li>
          </ul>
        </li> 
        <img src="https://tse4.mm.bing.net/th?id=OIP.CAWRAkAm4BDtAKuYhtukYQHaH_&pid=Api&P=0" alt="Cart Logo" class="cart">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="create">SIGN UP</a>
        </li>
        <img src="https://cdn3.iconfinder.com/data/icons/essential-rounded/66/Rounded-15-512.png" alt="Cart Logo" class="cart">
        <li class="nav-item">
          <a class="nav-link" href="contactus">CONTACT US</a>
        </li>


        <img src="https://tse1.mm.bing.net/th?id=OIP.h6JKyBrhuKPEzjvJnIVY2wHaHa&pid=Api&P=0" alt="Cart Logo" class="cart">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
          
        </form>  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
        <li>
          <a href="" target="_blank">
         <img src="https://tse4.mm.bing.net/th?id=OIP.5Yu-6WP72ncTZP11WO_5CwHaHa&pid=Api&P=0" alt="Cart Logo" class="cart"></a>
      </li>
        
        
        
        

            </ul>       
            
          </div>
    </nav>