<section class="about-section">
    <article>
   
        <h1>Return Policy</h1>
        PetsWorld functions on a single aim, which is to boost the happiness and overall bond between pet and their owners. We strive to make our collections diverse, while procuring them from the best sources within India and abroad to fulfill the requirements of you and your pet. Our return policy is in place to give you peace of mind, so that you can be fully assured of the whole return process. If any product you buy from PetsWorld is damaged, we will gladly exchange it for you, provided it follows the right criteria. Following are those
        
        <h2>Return Eligibility</h2>
        The following items are not eligible for returns or exchanges unless the customer has received the item in a damaged or faulty condition and you have notified Petsworld for a replacement within 2 days of delivery.<br><br>
        
        &nbsp; &nbsp; &nbsp;Edible and perishable items such as foods, treats, and supplements.<br>
        &nbsp; &nbsp; &nbsp;Healthcare products<br>
        &nbsp; &nbsp; &nbsp;Pet-care accessories<br>
        &nbsp; &nbsp; &nbsp;Crates and Carriers<br>
        &nbsp; &nbsp; &nbsp;Cat litter, trays & accessories<br>
        &nbsp; &nbsp; &nbsp;Cat furniture and scratchers<br>
        &nbsp; &nbsp; &nbsp;Grooming Products<br>
        However, please note the items given above are not comprehensive. There may be other individual products which are non-returnable unless damaged. All product pages have information on whether that particular product is returnable or not.<br><br>
        
        <h2> Cancellation of Orders</h2>
        In the event you have placed an order and wish to cancel it before the shipment has been dispatched, please notify our customer service team on WhatsApp via 8744012053/8744012036 or via email on amit@petsworld.in. If the order is prepaid, a refund then will be processed to the original mode of payment.
        
        Please note that once an order has been dispatched, we cannot cancel the order. You can choose to accept the delivery or refuse the delivery while the delivery process. Once the order has been returned to us and is prepaid, the courier charges will be deducted from the billable amount while refunding the amount.
  
    </article>
  </section>