<section class="about-section">
    <article>
       <h1>Shipping Policy</h1> 
        We at PetsWorld have a mission to deliver your products in finest condition and that too within the least time frame possible. Thus, we are super-attentive while packing your orders and have allied with some of the most popular courier partners in India to seamlessly deliver your products.
        
        Some of our esteemed courier partners are Bluedart, Delhivery, Ecom Express, XpressBees, Pikndel, Shiprocket etc, who assure reliable and super-fast delivery to the customers.
        
       <h2> Shipping Charges</h2>
        No shipping charges are applied for orders above Rs 599 at PetsWorld. If you are ordering items below Rs 599, a shipping charge of Rs 49 will be levied. Please note that an additional charge of 49 will also be applied if you order the products below Rs 999 on Cash on Delivery Mode.
        
        <h2>Delivery Locations in India</h2>
        PetsWorld delivers its products all over India! Once you have ordered from us, we will get the items delivered at your doorsteps at the earliest time possible. PetsWorld is now delivering its products to almost 25000 pin codes of the country and reaches even the remotest parts now.
        
        <h2>Time Taken For Delivery</h2>
        We will deliver your orders on the same day if you are living in or around Noida. For those from Delhi NCR, we usually deliver the products the very next day. To the rest of the places in India, it may take 3 to 7 days based on the delivery locations.
  
    </article>
  </section>