<html>
<body>
    <div class="container">
        <div class="d-flex justify-content-center p-5">
            <div class="card">
                <div class="card-header">
                    <h3>Sign Up</h3>
                    <h4>Please fill the form to create an account</h4>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-QClr9IzlS8Ek2ZpSRXM57oK3nJsQq6t-i_TP7UGTJFup_qBbxQOpbQFv8Wb8qISgUdw&usqp=CAU" width="30px" height="30px">
                                </span> 
                            </div>
                            <input type="text" style="color: rgb(21, 0, 59);" class="form-control" placeholder="Your name">
                            
                        </div>
                        <br>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="https://image.shutterstock.com/image-vector/mail-icon-260nw-523869661.jpg" width="30px" height="30px">
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Your E-mail Address">
                        </div>
                        <br>
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <img src="https://img.icons8.com/glyph-neue/1x/password1.png" width="30px" height="30px">
                              </span>
                          </div>
                          <input type="password" class="form-control" placeholder="password">
                      </div>
                      <br>
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <img src="https://img.icons8.com/glyph-neue/1x/password1.png" width="30px" height="30px">
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Repeat password">
                    </div>
                    <br>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                      
                      
                
      
  <p>By creating an account you agree to our <a href="termsofuse" style="color:dodgerblue">Terms</a><a href="privacypolicy" style="color:dodgerblue">&policy</a></p>
</div>
</form>
    <div class="form-group">
      <button type="button" value="Login" class="btn1">Cancel</button>
      <button type="button" value="Login" class="btn2">Sign Up</button>
    </div>
  </div>
</div>

</div>  </div>
</body>
</html>
